body {
  background:url("./assets/aa.png");
  margin-bottom: 500px;
  position: relative;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

h2 {
  font-size: 100px;
  font-weight: 500;
  color: #2fc18c;
  text-align: center;
  font-family: Digital, "sans-serif";
}

h1 {
  font-size: 50px;
  font-weight: extrabold;
  color: #444955;
  text-align: center;
}
.cabecalho {
  color: #3CB371;
}


button {
  font-family: Digital, "sans-serif";
  background-color: #3CB371;
  border: 1px solid black;
  border-radius: 12px;
  color: whitesmoke;
  font-size: 30px;
  padding: 10px;
  justify-items: center;
  margin-left: 5px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  font-size:40px;
}

input {
  padding: 5px;
  text-transform: uppercase;
  width: 200px;
  border: 1px solid black;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  margin: 10px auto;
  color: #3CB371;
  border-radius: 12px;
}

.timer {
  color: #3CB371;
  font-size: 50px;
}

input::placeholder {
  color: #3CB371;
  font-size: 15px;
  font-style: italic;
  text-transform: uppercase;
  padding: 5px;
  padding-top: 500px;
  margin: 10px auto;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

img {
  max-width: 400px;
}

.btn {
  color: whitesmoke;
  background-color: #3CB371;
}

@media (max-width: 715px){
  .cabecalho {
    margin-top: 50px;
    background-color: #2fc18c;
    color: whitesmoke;
    border-radius: 5px;
  }
  
  h2, h1 {
    font-size: 30px;
  }

  input{
    width: 80%;
    min-height: 50px;
    background-color: transparent;
    color: black;
    font-size: 15px;
    background-color: #3CB371;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    cursor: pointer;
  }

  input::placeholder {
    color: whitesmoke;
    font-size: 18px;
  }

  .timer {
    color: whitesmoke;
    font-size: 50px;
    background-color: #3CB371;
    border: 1px solid black;
    border-radius: 5px;
    width: 160px;
    margin-left: 25px;
 
  }
  button {
    width: 80%;
    min-height: 50px;
    font-size: 30px;
  }
  btn {
    width: 80%;
    min-height: 50px;
  }
}